<div class="row justify-content-center">
    <form action="/">
        <button class="btn btn-primary btn-lg b-head">
            Главная
        </button>
    </form>
    <form action="/publish/">
        <button class="btn btn-primary btn-lg b-head">
            Издательства
        </button>
    </form>
    <form action="/authors/">
        <button class="btn btn-primary btn-lg b-head">
            Авторы
        </button>
    </form>
    <form action="/friends/">
        <button class="btn btn-primary btn-lg b-head">
            Друзья
        </button>
    </form>
</div>
