<div class="container" style="font-size: small;">
    <h1 class="text-center">Список доступных ссылок</h1>
    <br>
    <div class="alert alert-primary" role="alert">
        Проект постоянно дополняется и старые пути не удаляются, поэтому столько лишнего.
    </div>
    <p><a href="/admin/">admin</a> - админка, user: admin, password: 12345<p>
    <p><a href="/books_list/">books_list</a> - список книг с возможностью изменение количества<p>
    <p><a href="/publish/">publish</a> - список издательств<p>
    <p><a href="/authors/">authors</a> - список авторов<p>
    <p><a href="/author/create/">author/create</a> - форма добавления автора<p>
    <p><a href="/author/create_many">author/create_many</a> - форма добавления нескольких авторов<p>
    <p><a href="/author_book/create_many">author_book/create_many</a> - форма добавления авторов и книг<p>
    <p><a href="/friend/create/">friend/create</a> - форма добавления друзей<p>
    <p><a href="/friends/">friends</a> - список друзей<p>
</div>